<<<<<<< HEAD

=======
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(23 23 23);
}
textarea {
  resize: none;
}
>>>>>>> 4ed3955e39c36125f186caad2f6772bcaeea0e30
